// First up: config and functions
@import "config";

// Set Gorko to output no css for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// Pull in blocks
@import "blocks/hero";
@import "blocks/key-facts";
